#conf {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(27, 26, 26, 0.918);
}
#conf_user {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(27, 26, 26, 0.918);
}
#confnewUser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(27, 26, 26, 0.918);
}
#conf_newUser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(27, 26, 26, 0.918);
}

.conf-content {
    background-color: #fff;
    padding: 20px;
    margin: 20% auto;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}
.alert-success{
    color: forestgreen;
}
.alert{
    color: #f44040;
}

#back{
    background-color: #4070f4;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #fff;
   
}
#back:hover{
    background-color: #265df2;
}
